In [ ]:
import pandas as pd
import re

In [ ]:
train_data = pd.read_csv("/content/drive/My Drive/AA2-DATASETS/hasoc_2020_en_train_new.csv", encoding= 'unicode_escape')
train_data.head()

       tweet_id  ...                  ID
0  1.123757e+18  ...  hasoc_2020_en_2574
1  1.123733e+18  ...  hasoc_2020_en_3627
2  1.123734e+18  ...  hasoc_2020_en_3108
3  1.126951e+18  ...  hasoc_2020_en_3986
4  1.126864e+18  ...  hasoc_2020_en_5152

[5 rows x 5 columns]

In [ ]:
test_data = pd.read_csv("/content/drive/My Drive/AA2-DATASETS/english_test.csv", encoding= 'unicode_escape')
test_data.head()

              tweet_id  ...                  ID
0  1130081762154090497  ...  hasoc_2020_en_2713
1  1130048316807491584  ...  hasoc_2020_en_3874
2  1123657766143504386  ...   hasoc_2020_en_281
3  1126782963042013186  ...  hasoc_2020_en_2026
4  1130159113529434113  ...  hasoc_2020_en_4023

[5 rows x 5 columns]

In [ ]:
def text_to_wordlist(text, remove_stopwords=False, stem_words=False):
    # Clean the text, with the option to remove stopwords and to stem words.
    
    # Convert words to lower case and split them
    text = text.lower().split()

    # Optionally, remove stop words
    if remove_stopwords:
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    # Optionally, shorten words to their stems
    if stem_words:
        text = text.split()
        stemmer = SnowballStemmer('english')
        stemmed_words = [stemmer.stem(word) for word in text]
        text = " ".join(stemmed_words)
    
    # remove consecutive letters to single letter at end
    text = re.sub(r'(.)\1+$', r'\1', text)
    
    # Return a list of words
    return(text)

In [ ]:
train_data['text'] = train_data['text'].apply((lambda x: re.sub('RT ','',x)))
cleanedText = []
for text in train_data["text"].values:
    text = text+" "
    text = re.sub(r'https?:\/\/.*[\r\n]*', ' ', text, flags=re.MULTILINE)
    text = re.sub(r'(@){1}.+?( ){1}', ' ', text, flags=re.MULTILINE)
    text = re.sub(r'(#){1}.+?( ){1}', ' ', text, flags=re.MULTILINE)
    cleanedText.append(text_to_wordlist(text))
train_data['text'] = cleanedText

train_data.head()

       tweet_id  ...                  ID
0  1.123757e+18  ...  hasoc_2020_en_2574
1  1.123733e+18  ...  hasoc_2020_en_3627
2  1.123734e+18  ...  hasoc_2020_en_3108
3  1.126951e+18  ...  hasoc_2020_en_3986
4  1.126864e+18  ...  hasoc_2020_en_5152

[5 rows x 5 columns]

In [ ]:
test_data['text'] = test_data['text'].apply((lambda x: re.sub('RT ','',x)))
cleanedText = []
for text in test_data["text"].values:
    text = text+" "
    text = re.sub(r'https?:\/\/.*[\r\n]*', ' ', text, flags=re.MULTILINE)
    text = re.sub(r'(@){1}.+?( ){1}', ' ', text, flags=re.MULTILINE)
    text = re.sub(r'(#){1}.+?( ){1}', ' ', text, flags=re.MULTILINE)
    cleanedText.append(text_to_wordlist(text))
test_data['text'] = cleanedText

test_data.head()

              tweet_id  ...                  ID
0  1130081762154090497  ...  hasoc_2020_en_2713
1  1130048316807491584  ...  hasoc_2020_en_3874
2  1123657766143504386  ...   hasoc_2020_en_281
3  1126782963042013186  ...  hasoc_2020_en_2026
4  1130159113529434113  ...  hasoc_2020_en_4023

[5 rows x 5 columns]

In [ ]:
data = pd.concat([train_data, test_data], ignore_index=True)
data.head()

       tweet_id  ...                  ID
0  1.123757e+18  ...  hasoc_2020_en_2574
1  1.123733e+18  ...  hasoc_2020_en_3627
2  1.123734e+18  ...  hasoc_2020_en_3108
3  1.126951e+18  ...  hasoc_2020_en_3986
4  1.126864e+18  ...  hasoc_2020_en_5152

[5 rows x 5 columns]

In [ ]:
print( len(train_data) ,' ' , len(test_data) , ' ', len(data))

3708   814   4522

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfconverter = TfidfVectorizer(max_features=2000, min_df=5)
X = tfidfconverter.fit_transform(data['text']).toarray()

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(data['task1'])

In [ ]:
X_train = X[ : len(train_data)]
Y_train = Y[ : len(train_data)]

X_test = X[len(train_data) : ]
Y_test = Y[len(train_data) : ]

In [ ]:
Y

array([0, 0, 1, ..., 1, 1, 0])

In [ ]:
from sklearn.model_selection import RepeatedKFold 
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import classification_report , accuracy_score
import pickle

bnb = BernoulliNB()

kf = RepeatedKFold(n_splits=10, n_repeats=10, random_state=None) 

bet_acc = 0.0

for train_index, test_index in kf.split(X_train):
      x_train, x_test = X_train[train_index], X_train[test_index] 
      y_train, y_test = Y_train[train_index], Y_train[test_index]

      bnb.fit(x_train,y_train)
      predictions = bnb.predict(x_test)

      score = accuracy_score(y_test,predictions)

      if  score > bet_acc :
        print(score)
        bet_acc = score
        # save the model to disk
        filename = 'finalized_nb_model1.sav'
        pickle.dump(bnb, open(filename, 'wb'))

0.8247978436657682
0.8490566037735849
0.8517520215633423
0.8675675675675676
0.8706199460916442
0.8867924528301887

In [ ]:
from sklearn.metrics import classification_report
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict(X_test)
print(classification_report(Y_test , result))

              precision    recall  f1-score   support

           0       0.84      0.80      0.82       423
           1       0.80      0.83      0.82       391

    accuracy                           0.82       814
   macro avg       0.82      0.82      0.82       814
weighted avg       0.82      0.82      0.82       814

In [ ]:
from sklearn.svm import LinearSVC
sv = LinearSVC()

kf = RepeatedKFold(n_splits=10, n_repeats=10, random_state=None) 

bet_acc = 0.0

for train_index, test_index in kf.split(X_train):
      x_train, x_test = X_train[train_index], X_train[test_index] 
      y_train, y_test = Y_train[train_index], Y_train[test_index]

      sv.fit(x_train,y_train)
      predictions = sv.predict(x_test)

      score = accuracy_score(y_test,predictions)

      if  score > bet_acc :
        print(score)
        bet_acc = score
        # save the model to disk
        filename = 'finalized_svm_model1.sav'
        pickle.dump(sv, open(filename, 'wb'))

0.8382749326145552
0.8787061994609164
0.8810810810810811
0.8867924528301887
0.9056603773584906

In [ ]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict(X_test)
print(classification_report(Y_test , result))

              precision    recall  f1-score   support

           0       0.91      0.78      0.84       423
           1       0.79      0.92      0.85       391

    accuracy                           0.84       814
   macro avg       0.85      0.85      0.84       814
weighted avg       0.85      0.84      0.84       814

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion='entropy',splitter='best')

kf = RepeatedKFold(n_splits=10, n_repeats=10, random_state=None) 

bet_acc = 0.0

for train_index, test_index in kf.split(X_train):
      x_train, x_test = X_train[train_index], X_train[test_index] 
      y_train, y_test = Y_train[train_index], Y_train[test_index]

      dt.fit(x_train,y_train)
      predictions = dt.predict(x_test)

      score = accuracy_score(y_test,predictions)

      if  score > bet_acc :
        print(score)
        bet_acc = score
        # save the model to disk
        filename = 'finalized_dt_model1.sav'
        pickle.dump(dt, open(filename, 'wb'))

0.8544474393530997
0.8652291105121294
0.8675675675675676
0.8706199460916442
0.8787061994609164

In [ ]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict(X_test)
print(classification_report(Y_test , result))

              precision    recall  f1-score   support

           0       0.86      0.78      0.82       423
           1       0.79      0.87      0.83       391

    accuracy                           0.82       814
   macro avg       0.83      0.83      0.82       814
weighted avg       0.83      0.82      0.82       814

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

kf = RepeatedKFold(n_splits=10, n_repeats=10, random_state=None) 

bet_acc = 0.0

for train_index, test_index in kf.split(X_train):
      x_train, x_test = X_train[train_index], X_train[test_index] 
      y_train, y_test = Y_train[train_index], Y_train[test_index]

      rf.fit(x_train,y_train)
      predictions = rf.predict(x_test)

      score = accuracy_score(y_test,predictions)

      if  score > bet_acc :
        print(score)
        bet_acc = score
        # save the model to disk
        filename = 'finalized_rf_model1.sav'
        pickle.dump(rf, open(filename, 'wb'))

0.8787061994609164
0.9056603773584906

In [ ]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict(X_test)
print(classification_report(Y_test , result))

              precision    recall  f1-score   support

           0       0.94      0.73      0.82       423
           1       0.77      0.95      0.85       391

    accuracy                           0.84       814
   macro avg       0.85      0.84      0.83       814
weighted avg       0.85      0.84      0.83       814

In [ ]:
import pickle

dt1= pickle.load(open('finalized_dt_model1.sav', 'rb'))
nb1= pickle.load(open('finalized_nb_model1.sav', 'rb'))
rf1= pickle.load(open('finalized_rf_model1.sav', 'rb'))
svm1= pickle.load(open('finalized_svm_model1.sav', 'rb'))

In [ ]:
taska_df = pd.DataFrame()

In [ ]:
### decision tree
pred = dt1.predict(X_test)
taska_df['DecisionTree'] = pred

## naive bayes
pred = nb1.predict(X_test)
taska_df['naiveBayes'] = pred
## RF
pred =rf1.predict(X_test)
taska_df['RandomForest'] = pred
##SVM
pred =svm1.predict(X_test)
taska_df['SVM'] = pred

taska_df.head()

   DecisionTree  naiveBayes  RandomForest  SVM
0             1           1             1    1
1             1           1             1    1
2             1           1             1    1
3             0           0             0    0
4             0           0             0    0

In [ ]:
taska_df['res'] = taska_df.mode(axis=1)[0].astype(int)
taska_df.head()

   DecisionTree  naiveBayes  RandomForest  SVM  res
0             1           1             1    1    1
1             1           1             1    1    1
2             1           1             1    1    1
3             0           0             0    0    0
4             0           0             0    0    0

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(Y_test , taska_df['res']))

              precision    recall  f1-score   support

           0       0.91      0.81      0.86       423
           1       0.81      0.92      0.86       391

    accuracy                           0.86       814
   macro avg       0.86      0.86      0.86       814
weighted avg       0.87      0.86      0.86       814

In [ ]:
classes = ['HOF','NOT']
#classes = ['HATE','NONE','OFFN','PRFN']

In [ ]:
import numpy as np
pred_class = []
for item in taska_df['res']:
  pred_class.append(classes[item])
print(pred_class)

['NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'HOF', 'NOT', 'HOF', 'HOF', 'HOF', 'HOF', 'HOF', 'NOT', 'HOF', 'NOT', 'HOF', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT', 'NOT']

In [ ]:
pred_data = pd.DataFrame()

pred_data['tweet_id'] = test_data['tweet_id']
pred_data['task1'] = pred_class
pred_data['ID'] = test_data['ID']

compression_opts = dict(method='zip',archive_name='submission_EN_A.csv')
pred_data.to_csv('submission-ens-a.zip', index=False, compression=compression_opts)
print(pred_data)

                tweet_id task1                  ID
0    1130081762154090497   NOT  hasoc_2020_en_2713
1    1130048316807491584   NOT  hasoc_2020_en_3874
2    1123657766143504386   NOT   hasoc_2020_en_281
3    1126782963042013186   HOF  hasoc_2020_en_2026
4    1130159113529434113   HOF  hasoc_2020_en_4023
..                   ...   ...                 ...
809  1127061607433900032   NOT  hasoc_2020_en_1212
810  1123685826074951681   NOT  hasoc_2020_en_3435
811  1126882552587927552   NOT  hasoc_2020_en_3987
812  1130294488859996160   NOT  hasoc_2020_en_1176
813  1130111650780991493   NOT  hasoc_2020_en_1937

[814 rows x 3 columns]